{% extends "faculty_dashboard.html" %}

{% block title %}
    Applications
{% endblock %}

{% block content %}
    
    {% for application in applications %}
        <div class="wrapper">
        <form id="UpdateApplication" method="post">
        {% for job in jobs %}
            {% if job.id == application.jobId %}
                {% for course in courses %}
                    {% if course.id == job.courseId %}
                        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Course     : </h3> <p style="color:rgb(19, 18, 18); display: inline-block; margin-left: 5px;">{{course.courseName}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Authorised to work in SA?     : </h3> {{application.authorised}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Have relevant experience?     : </h3> {{application.experience}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Education Level     : </h3> {{application.educationlvl}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Current study year     : </h3> {{application.year}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Preferred working days     : </h3> {{application.preferred_days}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Preferred working time    : </h3> {{application.preferred_time}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Application date    : </h3> {{application.date}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Info about applicant     : </h3> {{application.more_info}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">CV/Resume     : </h3> {{application.cv}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Supporting document     : </h3> {{application.supporting_doc}}
        <h3 style="color:rgb(19, 18, 18); display: inline-block;">Status   : </h3> <select id="applicationStatus" name="applicationStatus"> <option value="Pending">Pending</option><option value="Approved">Approved</option> <option value="Rejected">Rejected</option></select>
        <button type="submit" class="btn">Submit Response</button>
        </form>
        </div>
    {% endfor %}
{% endblock %}