{% extends 'jobs.html' %}
{% block title %}Search{% endblock %}


{% block main %}
<div class="container">
    {% for job in jobs %}
        <div class="wrapper">
            <h2 style="color:rgb(19, 18, 18);">{{job.name}}</h2>
            {% for course in courses %}
                {% if course.id == job.courseId %}
                    <h3 style="color:rgb(19, 18, 18); display: inline-block;">Course: </h3>
                    <p style="color:rgb(19, 18, 18); display: inline-block; margin-left: 5px;">{{course.courseName}}</p>
                {% endif %}
            {% endfor %}
            <br>
            <h3 style="color:rgb(19, 18, 18); display: inline-block;">Location: </h3>
            <p style="color:rgb(19, 18, 18); display: inline-block; margin-left: 5px;">{{job.location}}</p>
            <br>
            <h3 style="color:rgb(19, 18, 18); display: inline-block;">Closing date: </h3>
            <p style="color:rgb(19, 18, 18); display: inline-block; margin-left: 5px;">{{job.closing_date}}</p>
            <br>
            <button type="submit" class="btn" onclick="applyForJob('{{ job.id }}')">apply</button>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}