/* Importing Google Fonts for the 'Poppins' and 'Vina Sans' font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vina+Sans&display=swap');

:root {
    --main-color: #8c9eff;
    --colour-dark: #1D2231;
    --text-grey: #8390A2;
}

/* Resetting default styles and applying global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the sidebar */
.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-heading {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.sidebar-menu img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.sidebar-menu a {
    display: block;
    font-size: 1.1rem;
    color: #fff;
    padding-left: 1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

/* Responsive styles for the sidebar */
#nav-toggle:checked+.sidebar .sidebar li img {
    padding-left: 1rem;
    align-items: center;
}

#nav-toggle:checked+.sidebar .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked+.sidebar {
    width: 90px;
}

#nav-toggle:checked + .sidebar li a span,
#nav-toggle:checked + .sidebar .sidebar-heading h1 {
    display: none;
}

/* Styling for the main content and header */
#nav-toggle:checked ~ .main-content {
    margin-left: 90px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 90px);
    left: 90px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

/* Styling for the search wrapper and user information */
.search-wrapper {
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

/* Styling for the main content area */
main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

/* Styling for dashboard information and cards */
.dashboard-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.single-card-info {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 2rem;
    border-radius: 3px;
}

.single-card-info span {
    color: var(--text-grey);
}

.single-card-info img {
    width: 40px;
    height: 43px;
}

/* Styling for dashboard sections and tables */
.dashboard-section {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 67% auto;
}

.section-content {
    background: #fff;
    border-radius: 5px;
}

.section-header {
    padding: 1rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.section-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

/* Styling for tables and table headers */
table {
    border-collapse: collapse;
}

thead tr {
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

/* Styling for status indicators */
.status.red {
    background: red;
}

.status.yellow {
    background: rgb(144, 144, 3);
}

.status.green {
    background: green;
}

/* Styling for new queries and responsive design */
.new-query {
    justify-content: space-around;
    padding: .5rem 1rem;
    border-bottom: 1px solid #f0f0f0;
}
.new-query:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

/* Styling for diffrent screen sizes */
@media screen and (max-width: 1200px) {
    .sidebar .sidebar li img {
        padding-left: 1rem;
        align-items: center;
    }

    .sidebar .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar {
        width: 90px;
    }

    .sidebar li a span,
    .sidebar .sidebar-heading h1 {
        display: none;
    }

    .main-content {
        margin-left: 90px;
    }

    .main-content header {
        width: calc(100% - 90px);
        left: 90px;
    }

    .sidebar :hover .sidebar li img {
        padding-left: 2rem;
        align-items: left;
    }

    .sidebar :hover .sidebar li a {
        padding-left: 1rem;
    }

    .sidebar:hover {
        width: 345px;
        z-index: 200;
    }

    .sidebar :hover li a span,
    .sidebar :hover .sidebar-heading h1 {
        display: inline;
    }

    .overlay {
        justify-content: flex-start; 
    }
    .dropdown {
        width: 80%; /* Adjust the width for small screens */
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 960px) {
    .dashboard-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-section {
        grid-template-columns: 60% 40%;
    }
}

@media screen and (max-width: 770px) {
    .dashboard-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-section {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }

    .sidebar {
        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h1 label {
        background: var(--main-color);
        display: inline-block;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h1 span {
        text-align: center;
        padding-right: 0rem;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked+.sidebar li a span:last-child,
    #nav-toggle:checked+.sidebar .sidebar-heading h1 {
        display: inline;
    }

    #nav-toggle:checked+.sidebar .sidebar li img {
        padding-left: 2rem;
        align-items: left;
    }

    #nav-toggle:checked+.sidebar .sidebar li a {
        padding-left: 1rem;
    }
    .overlay {
        justify-content: flex-start; 
    }
    .dropdown {
        width: 80%; /* Adjust the width for small screens */
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 500px) {
    .dashboard-info {
        grid-template-columns: 100%;
    }
    .overlay {
        justify-content: flex-start; 
    }
    .dropdown {
        width: 80%; /* Adjust the width for small screens */
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 2;
    justify-content: center;
    align-items: center;
}

/* Styles for the dropdown menu */
.dropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    text-align: center;
    padding: 16px;
    width: 300px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.dropdown label{
    font-size: 20px;
}
.dropdown input[type=text],select{
    width: 100%;
    padding: 12px,20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.dropdown-heading {
    font-size: 20px;
    margin-bottom: 12px;
}

.dropdown a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 18px; 
    border-bottom: 1px solid #ccc; 
    width: 100%;
    box-sizing: border-box;
}

.dropdown a:last-child {
    border-bottom: none; 
}

.dropdown button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    margin-top: 16px;
    margin-left: 10px; 
}
.new-query button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    margin-top: 16px;
    margin-left: 10px; 
    text-align: center ;
    font-size: 15px;
}

  /* Styling for the overlay background in Maintenance Page */
  .overlay-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the popup form  in Maintenance Page */
  .popup-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px; 
    height: 450px;
    margin: auto;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Styling for the form elements in Maintenance Page */
  .popup-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Styling for the submit and cancel buttons in Maintenance Page */
  .popup-form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Styling for the dropdown list in Maintenance Page */
  .popup-form select {
    width: 100%;
    padding: 5px;
  }
  

  /* Styles for the popup container */
.popup {
    width: 400px;
    background: #e0e0e0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000;
}

/* Styles for the open-popup state of the container */
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* Styles for images inside the popup */
.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles for heading 2 inside the popup */
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

/* Styles for buttons inside the popup */
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4a82d6;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.arrow {
    font-size: 1.5em;
}

.wrapper  {
    background: transparent;
    border: 2px solid rgba(255, 255, 255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper .input-box{
    position: relative;  
    width: 100%;
    height: 50px;
    background:transparent;
    margin: 30px 0;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}